# Файл с секретными переменными
.env

Tasks.txt
1message_sorter/*.txt

# Папки с кэшем Python
__pycache__/
*.pyc

# Папки виртуального окружения (если вы его создаете внутри проекта)
venv/
.venv/

# Папка с постоянными данными (база данных, сессии),
# которая будет заменена на Volume при деплое.
data/ # Если в этой папке хранятся данные, которые не должны быть в Git
1message_sorter/ # Если это папка с временными данными или данными, генерируемыми локально

# Лог-файлы
*.log

# Файлы баз данных
*.db
*.sqlite3

# Файлы операционных систем и редакторов
.DS_Store
Thumbs.db
.vscode/
*.sublime-project
*.sublime-workspace